body{
    overflow-x: hidden;
}


.bi-emoji-smile-fill{
    color: rgb(221, 218, 9);
}
/* 
.carousel-item{
    height: 400px;
} */

/* .carousel-item img{
    background-position: center;
    background-size: cover;
    width: 100%;
} */


.content{
    display: inline-block;
}
.picture{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(119, 119, 119);
    margin: auto;
    
}

.content h2{
    font-weight: 400;
    color: rgb(119, 119, 119);
    margin-bottom: 14px;
    display: inline-block;
}

.content p{
    display: inline-block;
    margin: 0px 12px 16px 12px;
}

.content p a{
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}

.feature-heading h2{
    font-weight: 400;
    font-size: 50px;
    margin-top: 112px;
    margin-bottom: 8px;
}

.feature-heading h2 span{
    color: #6c757d;
}

.feature-heading p{
    font-size: 1.26rem;
    font-weight: 300;
}

/* 
@media only screen and (max-width: 1265) {
  marquee{
      display: none;
  }
} */
